:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;

  ion-header {
    flex-shrink: 0;
    z-index: 10;
  }

  ion-toolbar {
    --background: linear-gradient(135deg, #ba89d4, #a100ff);
    --color: #fff;
    font-weight: 600;
  }

  ion-menu {
    --background: #f8fafc;
  }

  ion-item {
    --color: #1e293b;
    font-weight: 500;
    border-radius: 8px;
    margin: 4px 8px;

    ion-icon {
      color: #a100ff;
    }

    &:hover {
      background: #e0e7ff;
    }
  }

  ion-title {
    text-align: center;
    font-weight: 600;
    font-size: 1.2rem;
  }

  ion-content.page-content {
    flex: 1;
    --background: transparent;
    --offset-top: 0px !important;
    --padding-top: 0px !important;

    overflow-y: auto;
  }
}

ion-toolbar {
  position: relative;

  ion-title {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    text-align: center;
    font-weight: 600;
    font-size: 1.2rem;
    color: #fff;
  }
}
