<ion-menu contentId="main-content" type="overlay">
  <ion-content>
    <ion-list lines="none">
      <ion-menu-toggle auto-hide="true">
        <ion-item button routerLink="/home/tasks" routerDirection="root">
          <ion-icon name="checkmark-done-outline" slot="start"></ion-icon>
          <ion-label>Tareas</ion-label>
        </ion-item>
      </ion-menu-toggle>

      <ion-menu-toggle auto-hide="true">
        <ion-item button routerLink="/home/categories" routerDirection="root">
          <ion-icon name="pricetag-outline" slot="start"></ion-icon>
          <ion-label>Categorías</ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-header>
  <ion-toolbar color="purple">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>To-Do App</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="main-content" class="page-content">
  <router-outlet></router-outlet>
</ion-content>
